<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Modelos de Melhoria</title>

	<script type="text/javascript" src="js/index.js"></script>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	
	<% include ../menu.ejs %>
	<h2>Bem-Vindo</h2>
	<table>
		<tr>
			<td>Sigla</td>
			<td>Nome</td>
			<td>Descrição</td>
		</tr>
	</table>
</body>
</html>