<!DOCTYPE html>
<html>
<head>
	<title>Modelos</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<% include ../menu.ejs %>
	<div class="container">
		<div class="panel panel-default">
			  <div class="panel-heading">Modelos</div>
			  <div class="panel-body">
			    <p>Clique em um item para editá-lo.</p>
			  </div>

			  <table class="table">
			    <thead>
			    	<tr>
			    		<td>ID</td>
			    		<td>SIGLA</td>
			    		<td>NOME</td>
			    		<td>DESCRIÇÃO</td>
			    	</tr>
			    </thead>
			    <tbody>
			    	<% for(var i = 0; i < modelos.length; i++) { %>
			    	<tr>
			    		<td><%= modelos[i].idModelo %></td>
			    		<td><%= modelos[i].sigla %></td>
			    		<td><%= modelos[i].nome %></td>
			    		<td><%= modelos[i].descricao %></td>
			    	</tr>
			    	<% } %>
			    </tbody>
			  </table>
		</div>
	</div>
</body>
</html>